<!DOCTYPE html>
<html>
<body>

<header>
    <%- include('./partials/header'); %>
</header>

<h2>Login</h2>

<form action="/views/login" method="post">
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email" value=""><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password" value=""><br><br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>